In [2]:
# Data Types

#1. Immutable - numeric , string , tuples

#2. Mutable - list , dict , set

In [13]:
# Tuples - are immutable data type that stores the element comma seperatedly

# tuples are packed into the parenthesis

In [4]:
t = (1,2,3,4)
print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [6]:
t1 = ('a','b','c')
print(t1,type(t1))

('a', 'b', 'c') <class 'tuple'>

In [7]:
t2=(1,'2','a')
print(t2,type(t2))

(1, '2', 'a') <class 'tuple'>

In [11]:
t3=('Deepanshu',)
print(t3,type(t3))

('Deepanshu',) <class 'tuple'>

In [12]:
t4 = 1,2,3,4,5
print(t4)

(1, 2, 3, 4, 5)

In [24]:
T1 = ('1234')
# print(len(T1))
for  i in T1:
    print(i)

1
2
3
4

In [25]:
T2=('1234',)
# print(len(T2),type(T2))
for i in T2:
    print(i)

1234

In [43]:
t = ('a','quick','brown','fox','jumps','over','a','lazy','dog')
print(t,len(t))

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog') 9

In [30]:
# index
print(t.index('a'))

0

In [31]:
# count
print(t.count('o'))

0

In [34]:
t = (5,2,8,4,9)

print(sorted(t))
print(sorted(t,reverse=True))
print(min(t))
print(max(t))

[2, 4, 5, 8, 9]
[9, 8, 5, 4, 2]
2
9

In [42]:
T=('Z','a','7','z','B','@','I','d',"D"," ")
print(sorted(T))
print(sorted(T,reverse=True))

[' ', '7', '@', 'B', 'D', 'I', 'Z', 'a', 'd', 'z']
['z', 'd', 'a', 'Z', 'I', 'D', 'B', '@', '7', ' ']

In [38]:
for i in T:
    print(i,'.........',ord(i))

Z ......... 90
a ......... 97
7 ......... 55
z ......... 122
B ......... 66
@ ......... 64
I ......... 73
d ......... 100
D ......... 68
  ......... 32

In [40]:
print(chr(115))

s

In [44]:
print(t)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog')

In [86]:
print(" ".join(t))

a quick brown fox jumps over a lazy dog

In [55]:
first=('Deepanshu',)
last = ('Verma',)

full = first+last
print(full,type(full))
print(last*2)

('Deepanshu', 'Verma') <class 'tuple'>
('Verma', 'Verma')

In [ ]:
nitin
naman
level
mam
madam
wow
xyz

In [58]:
s = input('ENTER S ')
if s ==s[::-1]:
    print('Pallindrome')

else:
    print('Not Pallidnrome')

ENTER S  racecar

Pallindrome

In [69]:
s = input('enter s ')

if s.isalnum():
    print(False)
else:
    print(True)

enter s  bc456^\

True

In [84]:
s = input('enter s ')
X=False
for i in s:
    if ord(i)>=49 and ord(i)<=57:
        pass
    elif ord(i)>=65 and ord(i)<=90:
        pass
    elif ord(i)>=97 and ord(i)<=122:
        pass
    else:
        X=True
        break
                
print(X)

enter s  abcd

NameError: name 'X' is not defined

In [76]:
ord('z')

122

In [89]:
s = 'banana'
x=""

for i in s:
    if i not in x:
        x=x+i
print(x)

ban

In [91]:
s ='apple'
c=0
for i in s:
    print(i,'.....',c)
    c=c+1

a ..... 0
p ..... 1
p ..... 2
l ..... 3
e ..... 4

In [95]:
s ='apple'
for i in range(len(s)):
    print(s[i],'....',i)

a .... 0
p .... 1
p .... 2
l .... 3
e .... 4

In [87]:
s ='a quick brown fox jumps over the lazy dog'
# abcde......xyz

In [101]:
n = int(input('enter how many numbers'))
a = int(input('enter a '))
min = a
max = a

for i in range(n-1):
    a = int(input('enter a '))
    if min<a:
        min=a
    elif max>a:
        max=a

print(min)
print(max)

enter how many numbers 3
enter a  99
enter a  -5
enter a  10

99
-5